.sorutablosu
{
    border-style:solid;
    width: 580px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Noto Sans TC', sans-serif;
    border-radius: 5px;
    font-size:30px;
    background-color:rgb(185, 223, 223);
    align-items: center;
    
   
}
h2
{
    margin-top: 100px;
    font-family: 'Noto Sans TC', sans-serif;
    text-align: center;
}

#bitir
{
    font-family: 'Noto Sans TC', sans-serif;
    width: 80px;
    height: 50px;
    color:white;
}
#cevapla
{
    width: 80px;
    font-family: 'Noto Sans TC', sans-serif;
    height: 50px;
    margin-left: 410px;
    color:white;
}
#info
{ 
    width: 240px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 35px;
}
.sorutablosu button
{
    border-radius: 30px;
    border:0px;
    background-color:rgb(49, 44, 44);

}
#soru-kisim
{
    width: 500px;
    height: 50px;

    margin-left: auto;
    margin-right: auto;
}
#cevap-kisim
{
    width: 500px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;

}